body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 5px solid black;
    background-color: black;
}

.display {
    background-color: gray;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: 900;
}

.keypad {
    display: flex;
    font-size: 30px;
    padding: 5px;
}

.operators-keypad {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 25%;
    margin-left: 10px;
}

.operators-keypad>.button {
    flex: 1 1 30%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(55, 173, 31);
}

.button.calculate {
    background-color: rgb(255, 100, 100);
}

.numbers-keypad {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5px;
    flex: 1 1 75%;
}

.number.button {
    flex: 1 1 30%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(110, 110, 255);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.button:hover {
    opacity: .8;
}

.button:active {
    opacity: .6;
}

.button.number.zero {
    flex: 1 1 66%;
}

.button.clear {
    flex: 2 1;
    background-color: rgb(207, 207, 0);
}